In [1]:
import pandas as pd
import glob

In [2]:
filenames = glob.glob("*.csv")
dfs = []
for filename in filenames:
    dfs.append(pd.read_csv(filename))

# Concatenate all data into one DataFrame
df_bg = pd.concat(dfs, ignore_index=True)

In [5]:
dff= pd.DataFrame()

In [6]:
dff['number_of_trips']=df_bg.Trip_Miles.groupby(by = [df_bg['CCA'], df_bg['Date']]).count()

In [8]:
dff.number_of_trips.sum()

128721035

In [10]:
dff['avg_tip']=df_bg.Tip.groupby(by = [df_bg['CCA'], df_bg['Date']]).mean()

In [36]:
df_bg.shape

(128721035, 6)

In [13]:
dff['avg_distance']=df_bg.Trip_Miles.groupby(by = [df_bg['CCA'], df_bg['Date']]).mean()

In [14]:
dff['avg_trip_pooled']=df_bg.Trips_Pooled.groupby(by = [df_bg['CCA'], df_bg['Date']]).mean()

In [15]:
dff.head()

                number_of_trips   avg_tip  avg_distance  avg_trip_pooled
CCA Date
0   01/01/2019            14346  0.827130     13.578482         1.238812
    01/02/2019            12417  0.955303     13.961367         1.271724
    01/03/2019            12682  0.889923     13.299227         1.263839
    01/04/2019            14810  0.836057     13.062532         1.282174
    01/05/2019            14743  0.783965     13.337462         1.243098

In [18]:
dff.shape

(33228, 4)

In [38]:
dff.to_csv('By_Date_CCA.csv',index=True)

In [21]:
dff1= pd.DataFrame()

In [23]:
dff1['number_of_trips']=df_bg.Trip_Miles.groupby(df_bg['Time']).count()

In [25]:
dff1['avg_tip']=df_bg.Tip.groupby(df_bg['Time']).mean()

In [26]:
dff1['avg_distance']=df_bg.Trip_Miles.groupby(df_bg['Time']).mean()

In [27]:
dff1['avg_trip_pooled']=df_bg.Trips_Pooled.groupby(df_bg['Time']).mean()

In [28]:
dff1.head()

            number_of_trips   avg_tip  avg_distance  avg_trip_pooled
Time
0:00:00 AM          1347531  0.666274      6.701389         1.226665
0:00:00 PM          1755906  0.588201      5.871899         1.224724
0:15:00 AM          1326525  0.665686      6.757904         1.228030
0:15:00 PM          1753998  0.568644      5.813327         1.239374
0:30:00 AM          1323259  0.666009      6.732936         1.227504

In [37]:
dff1.to_csv('By_Time.csv',index=True)

In [34]:
dff1.shape

(80, 4)

In [42]:
dff.query("CCA == '77'")

                number_of_trips   avg_tip  avg_distance  avg_trip_pooled
CCA Date
77  01/01/2019             4426  0.649797      5.090352         1.299819
    01/02/2019             3113  0.567620      5.913042         1.358175
    01/03/2019             3164  0.551517      5.730721         1.336915
    01/04/2019             3826  0.524569      5.647177         1.319916
    01/05/2019             4502  0.569080      5.279298         1.266104
    01/06/2019             3708  0.527508      5.367934         1.298004
    01/07/2019             3153  0.540755      5.956613         1.350777
    01/08/2019             3087  0.514091      5.662455         1.371234
    01/09/2019             3497  0.552474      5.595568         1.333143
    01/10/2019             3666  0.534643      5.660611         1.357338
    01/11/2019             4455  0.558474      5.511964         1.342312
    01/12/2019             5425  0.587834      5.129419         1.286083
    01/13/2019             4192  0.505010      5.272543         1.317032
    01/14/2019             3352  0.548031      5.851641         1.340692
    01/15/2019             3509  0.544600      5.502964         1.343118
    01/16/2019             3614  0.522136      5.598091         1.372994
    01/17/2019             3939  0.560548      5.748159         1.356436
    01/18/2019             5043  0.604402      5.533968         1.347611
    01/19/2019             5483  0.640525      4.905964         1.350173
    01/20/2019             5261  0.573465      5.078445         1.412659
    01/21/2019             3724  0.562030      5.515977         1.375403
    01/22/2019             3665  0.585539      5.656753         1.383629
    01/23/2019             3791  0.580586      5.631654         1.386705
    01/24/2019             4170  0.708393      5.497074         1.388010
    01/25/2019             5570  0.633573      5.339031         1.397487
    01/26/2019             6230  0.601445      4.948507         1.336918
    01/27/2019             4656  0.571091      4.972315         1.359966
    01/28/2019             3665  0.670396      5.125648         1.419372
    01/29/2019             4661  0.638704      5.009354         1.447973
    01/30/2019             2891  0.810100      4.848668         1.325147
...                         ...       ...           ...              ...
    12/17/2018             3668  0.611232      6.126445         1.408124
    12/17/2019             3801  0.698763      6.005604         1.119968
    12/18/2018             3502  0.591091      5.894032         1.310965
    12/18/2019             4044  0.705984      5.954303         1.136499
    12/19/2018             3507  0.596521      6.033904         1.324494
    12/19/2019             4175  0.744671      6.123497         1.120719
    12/20/2018             4073  0.640069      5.907415         1.331451
    12/20/2019             5062  0.757606      6.168175         1.125049
    12/21/2018             4875  0.696615      5.806482         1.318564
    12/21/2019             5428  0.781688      6.098121         1.103537
    12/22/2018             4734  0.739121      5.996662         1.279045
    12/22/2019             4019  0.766857      6.428614         1.117691
    12/23/2018             3686  0.673087      6.150461         1.274552
    12/23/2019             3586  0.781372      6.848745         1.113776
    12/24/2018             3027  0.740337      6.345259         1.258342
    12/24/2019             3212  0.894458      6.834215         1.109900
    12/25/2018             1980  0.781818      6.320354         1.258586
    12/25/2019             2114  0.934248      6.777342         1.094607
    12/26/2018             2503  0.550939      5.810188         1.341191
    12/26/2019             2532  0.699052      6.231477         1.104660
    12/27/2018             3216  0.618470      5.689490         1.343905
    12/27/2019             3524  0.696652      5.971056         1.109535
    12/28/2018             4005  0.598752      5.406767         1.312859
    12/28/2019             4010  0.672319      5.608080         1.101995
    12/29/2018             4415  0.570781      5.258279         1.260249
    12/29/2019             3647  0.656156      5.675103         1.122566
    12/30/2018             4344  0.619475      5.067219         1.292818
    12/30/2019             3694  0.682187      5.835896         1.136437
    12/31/2018             2117  1.089277      4.687199         1.159188
    12/31/2019             5167  0.662667      5.487594         1.111477

[426 rows x 4 columns]