## DATA ENGINEERING PLATFORMS (MSCA 31012)
## Assignment 4 
## Student: Duo Zhou

In [1]:
#import libraries
import pymongo
import json
from pymongo import MongoClient
from pprint import pprint
import pandas as pd

In [2]:
#connect to local database server
client = MongoClient()

#switch to test DB
db = client.sakila

In [3]:
# function to print only first n documents (to avoid perf/memory issues)
def printhead(cursor, n):
    for idx,document in enumerate(cursor):
        if idx < n: 
            pprint(document)
        else:
            break

# Part A

In [4]:
# 1. List total number of customers living in california ?
db.customers.find({ "District" : "California" }).count()

C:\Users\zd000\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.

9

In [5]:
# 2. List all movies that are rated NC-17. Only First 5 films rated NC17 are printed
NC17=db.films.find({"Rating" : "NC-17"})
Count2 = db.films.find({"Rating" : "NC-17"}).count()
print('Total Number of films that are rated Nc17 are',Count2)
print("We only print out the first 5 on the list")
printhead(NC17, 5)

C:\Users\zd000\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: DeprecationWarning: count is deprecated. Use Collection.count_documents instead.
  This is separate from the ipykernel package so we can avoid doing imports until

Total Number of films that are rated Nc17 are 210
We only print out the first 5 on the list
{'Actors': [{'First name': 'NICK', 'Last name': 'WAHLBERG', 'actorId': 2.0},
            {'First name': 'BOB', 'Last name': 'FAWCETT', 'actorId': 19.0},
            {'First name': 'CAMERON', 'Last name': 'STREEP', 'actorId': 24.0},
            {'First name': 'RAY', 'Last name': 'JOHANSSON', 'actorId': 64.0},
            {'First name': 'JULIANNE', 'Last name': 'DENCH', 'actorId': 123.0}],
 'Category': 'Documentary',
 'Description': 'A Astounding Reflection of a Lumberjack And a Car who must '
                'Sink a Lumberjack in A Baloon Factory',
 'Length': '50',
 'Rating': 'NC-17',
 'Rental Duration': '7',
 'Replacement Cost': '18.99',
 'Special Features': 'Trailers,Deleted Scenes',
 'Title': 'ADAPTATION HOLES',
 '_id': 3.0}
{'Actors': [{'First name': 'ALEC', 'Last name': 'WAYNE', 'actorId': 29.0},
            {'First name': 'JUDY', 'Last name': 'DEAN', 'actorId': 35.0},
            {'First name': 'VAL', 'Last name': 'BOLGER', 'actorId': 37.0},
            {'First name': 'RAY', 'Last name': 'JOHANSSON', 'actorId': 64.0},
            {'First name': 'RENEE', 'Last name': 'TRACY', 'actorId': 117.0},
            {'First name': 'JADA', 'Last name': 'RYDER', 'actorId': 142.0},
            {'First name': 'GRETA', 'Last name': 'MALDEN', 'actorId': 157.0},
            {'First name': 'ROCK', 'Last name': 'DUKAKIS', 'actorId': 188.0}],
 'Category': 'Sports',
 'Description': 'A Action-Packed Tale of a Man And a Lumberjack who must Reach '
                'a Feminist in Ancient China',
 'Length': '63',
 'Rating': 'NC-17',
 'Rental Duration': '6',
 'Replacement Cost': '24.99',
 'Special Features': 'Trailers,Deleted Scenes',
 'Title': 'ALADDIN CALENDAR',
 '_id': 10.0}
{'Actors': [{'First name': 'WOODY', 'Last name': 'HOFFMAN', 'actorId': 28.0},
            {'First name': 'MINNIE', 'Last name': 'ZELLWEGER', 'actorId': 85.0},
            {'First name': 'MORGAN', 'Last name': 'WILLIAMS', 'actorId': 137.0},
            {'First name': 'ROCK', 'Last name': 'DUKAKIS', 'actorId': 188.0}],
 'Category': 'Classics',
 'Description': 'A Emotional Drama of a A Shark And a Database Administrator '
                'who must Vanquish a Pioneer in Soviet Georgia',
 'Length': '94',
 'Rating': 'NC-17',
 'Rental Duration': '6',
 'Replacement Cost': '23.99',
 'Special Features': 'Trailers,Deleted Scenes,Behind the Scenes',
 'Title': 'ALICE FANTASIA',
 '_id': 14.0}
{'Actors': [{'First name': 'BURT', 'Last name': 'DUKAKIS', 'actorId': 36.0},
            {'First name': 'KENNETH', 'Last name': 'PALTROW', 'actorId': 69.0},
            {'First name': 'SIDNEY', 'Last name': 'CROWE', 'actorId': 105.0},
            {'First name': 'RENEE', 'Last name': 'TRACY', 'actorId': 117.0},
            {'First name': 'HUMPHREY', 'Last name': 'WILLIS', 'actorId': 164.0},
            {'First name': 'MENA', 'Last name': 'HOPPER', 'actorId': 170.0}],
 'Category': 'Foreign',
 'Description': 'A Brilliant Drama of a Cat And a Mad Scientist who must '
                'Battle a Feminist in A MySQL Convention',
 'Length': '46',
 'Rating': 'NC-17',
 'Rental Duration': '5',
 'Replacement Cost': '10.99',
 'Special Features': 'Trailers,Commentaries,Behind the Scenes',
 'Title': 'ALIEN CENTER',
 '_id': 15.0}
{'Actors': [{'First name': 'KARL', 'Last name': 'BERRY', 'actorId': 12.0},
            {'First name': 'JUDE', 'Last name': 'CRUISE', 'actorId': 57.0},
            {'First name': 'ALBERT',
             'Last name': 'JOHANSSON',
             'actorId': 146.0},
            {'First name': 'GREGORY', 'Last name': 'GOODING', 'actorId': 191.0},
            {'First name': 'JOHN', 'Last name': 'SUVARI', 'actorId': 192.0}],
 'Category': 'Foreign',
 'Description': 'A Fast-Paced Drama of a Robot And a Composer who must Battle '
                'a Astronaut in New Orleans',
 'Length': '180',
 'Rating': 'NC-17',
 'Rental Duration': '6',
 'Replacement Cost': '23.99',
 'Special Features': 'Trailers,Commentaries',
 'Title': 'ALLEY EVOLUTION',
 '_id': 16.0}

In [7]:
#3. List the count of movies by category
Q3=db.films.aggregate([{"$group":{"_id":"$Category","counter":{"$sum": 1}}}])
printhead(Q3,20)

{'_id': 'Family', 'counter': 69}
{'_id': 'Children', 'counter': 60}
{'_id': 'Documentary', 'counter': 68}
{'_id': 'Foreign', 'counter': 73}
{'_id': 'Horror', 'counter': 56}
{'_id': 'Sci-Fi', 'counter': 61}
{'_id': 'Animation', 'counter': 66}
{'_id': 'Sports', 'counter': 74}
{'_id': 'Games', 'counter': 61}
{'_id': 'Music', 'counter': 51}
{'_id': 'Drama', 'counter': 62}
{'_id': 'Action', 'counter': 64}
{'_id': 'New', 'counter': 63}
{'_id': 'Travel', 'counter': 57}
{'_id': 'Comedy', 'counter': 58}
{'_id': 'Classics', 'counter': 57}

In [8]:
# 4.  Find the top 2 movies with movie length greater than 25mins OR which has commentaries as a special feature
#Assumption: Sorted by Movie Length
Q4=db.films.find({"$or":[{"Length":{"$gt": "25" }}, {"Special Features": "/Commentaries/"}]}).sort("Length",-1)
printhead(Q4,2)

{'Actors': [{'First name': 'ANGELA', 'Last name': 'HUDSON', 'actorId': 65.0},
            {'First name': 'JAMES', 'Last name': 'PITT', 'actorId': 84.0},
            {'First name': 'PENELOPE', 'Last name': 'CRONYN', 'actorId': 104.0},
            {'First name': 'CUBA', 'Last name': 'ALLEN', 'actorId': 118.0},
            {'First name': 'KIM', 'Last name': 'ALLEN', 'actorId': 145.0},
            {'First name': 'GENE', 'Last name': 'MCKELLEN', 'actorId': 177.0},
            {'First name': 'GREGORY',
             'Last name': 'GOODING',
             'actorId': 191.0}],
 'Category': 'Sci-Fi',
 'Description': 'A Fast-Paced Tale of a Boat And a Teacher who must Succumb a '
                'Composer in An Abandoned Mine Shaft',
 'Length': '99',
 'Rating': 'G',
 'Rental Duration': '5',
 'Replacement Cost': '10.99',
 'Special Features': 'Trailers',
 'Title': 'ARMAGEDDON LOST',
 '_id': 39.0}
{'Actors': [{'First name': 'GENE', 'Last name': 'WILLIS', 'actorId': 96.0},
            {'First name': 'GINA', 'Last name': 'DEGENERES', 'actorId': 107.0}],
 'Category': 'Drama',
 'Description': 'A Touching Documentary of a Husband And a Hunter who must '
                'Escape a Boy in The Sahara Desert',
 'Length': '99',
 'Rating': 'NC-17',
 'Rental Duration': '6',
 'Replacement Cost': '24.99',
 'Special Features': 'Deleted Scenes,Behind the Scenes',
 'Title': 'DARKNESS WAR',
 '_id': 209.0}

In [9]:
# 5. Find the top 10 customers based on number of rentals
Q5=db.customers.aggregate([{"$group": {"_id": {"First Name":"$First Name","Last Name":"$Last Name" },
"Number of rentals": {"$sum": {"$size":"$Rentals.rentalId"}}}}, {"$sort":{"Number of rentals" : -1}}])
printhead(Q5,10)

{'Number of rentals': 46, '_id': {'First Name': 'ELEANOR', 'Last Name': 'HUNT'}}
{'Number of rentals': 45, '_id': {'First Name': 'KARL', 'Last Name': 'SEAL'}}
{'Number of rentals': 42, '_id': {'First Name': 'MARCIA', 'Last Name': 'DEAN'}}
{'Number of rentals': 42, '_id': {'First Name': 'CLARA', 'Last Name': 'SHAW'}}
{'Number of rentals': 41,
 '_id': {'First Name': 'TAMMY', 'Last Name': 'SANDERS'}}
{'Number of rentals': 40, '_id': {'First Name': 'SUE', 'Last Name': 'PETERS'}}
{'Number of rentals': 40, '_id': {'First Name': 'WESLEY', 'Last Name': 'BULL'}}
{'Number of rentals': 39,
 '_id': {'First Name': 'RHONDA', 'Last Name': 'KENNEDY'}}
{'Number of rentals': 39,
 '_id': {'First Name': 'MARION', 'Last Name': 'SNYDER'}}
{'Number of rentals': 39, '_id': {'First Name': 'TIM', 'Last Name': 'CARY'}}

##### 6. Provide 5 additional queries and indicate the specific business use cases they address
###### Note: Insights should not be a flavor of the previously addressed queries within Assignment 4.

In [10]:
# 6.1 Find top 10 movies with most actors
Q61=db.films.aggregate([{"$group": {"_id":"$Title","Number of actors": {"$sum": {"$size":"$Actors.actorId"}}}}, 
{"$sort":{"Number of actors" : -1}}])
printhead(Q61,10)

{'Number of actors': 15, '_id': 'LAMBS CINCINATTI'}
{'Number of actors': 13, '_id': 'MUMMY CREATURES'}
{'Number of actors': 13, '_id': 'BOONDOCK BALLROOM'}
{'Number of actors': 13, '_id': 'CHITTY LOCK'}
{'Number of actors': 13, '_id': 'RANDOM GO'}
{'Number of actors': 13, '_id': 'CRAZY HOME'}
{'Number of actors': 13, '_id': 'DRACULA CRYSTAL'}
{'Number of actors': 12, '_id': 'TITANIC BOONDOCK'}
{'Number of actors': 12, '_id': 'HELLFIGHTERS SIERRA'}
{'Number of actors': 12, '_id': 'LONELY ELEPHANT'}

In [11]:
# 6.2 Find all the customer that lives in the a loop address and from the United States
#Concat first and last name as full name
Q62=db.customers.aggregate([{"$match":{"$and":[{"Country":"United States" },
{"Address":{"$regex": "Loop"}}]}}, {"$project":
{ "Full Name": {"$concat": [ "$First Name", " ", "$Last Name" ]},"Address":1,"Country":1}}])
printhead(Q62,10)

{'Address': '920 Kumbakonam Loop',
 'Country': 'United States',
 'Full Name': 'CASSANDRA WALTERS',
 '_id': 269.0}
{'Address': '913 Coacalco de Berriozbal Loop',
 'Country': 'United States',
 'Full Name': 'RICHARD MCCRARY',
 '_id': 305.0}

In [12]:
# 6.3 Find top 10 countries with most customers
Q63=db.customers.aggregate([{"$group": {"_id":"$Country",
"Number of customers": {"$sum": 1}}}, {"$sort":{"Number of customers" : -1}}])
printhead(Q63,10)

{'Number of customers': 60, '_id': 'India'}
{'Number of customers': 53, '_id': 'China'}
{'Number of customers': 36, '_id': 'United States'}
{'Number of customers': 31, '_id': 'Japan'}
{'Number of customers': 30, '_id': 'Mexico'}
{'Number of customers': 28, '_id': 'Brazil'}
{'Number of customers': 28, '_id': 'Russian Federation'}
{'Number of customers': 20, '_id': 'Philippines'}
{'Number of customers': 15, '_id': 'Turkey'}
{'Number of customers': 14, '_id': 'Indonesia'}

In [13]:
# 6.4 Find the top 10 longest movies with Astronaut in the description
Q64=db.films.aggregate([{"$match":{"Description":{"$regex": "Astronaut"}}},
{"$project":{"Length":1,"Title":1,"Description":1}},{"$sort":{"Length" : -1}}])
printhead(Q64,10)

{'Description': 'A Thrilling Panorama of a Database Administrator And a '
                'Astronaut who must Challenge a Lumberjack in A Baloon',
 'Length': '98',
 'Title': 'BOUND CHEAPER',
 '_id': 91.0}
{'Description': 'A Beautiful Documentary of a Astronaut And a Moose who must '
                'Pursue a Monkey in A Shark Tank',
 'Length': '94',
 'Title': 'FULL FLATLINERS',
 '_id': 343.0}
{'Description': 'A Intrepid Drama of a Astronaut And a Crocodile who must Find '
                'a Boat in Soviet Georgia',
 'Length': '94',
 'Title': 'STONE FIRE',
 '_id': 848.0}
{'Description': 'A Fateful Story of a Robot And a Dentist who must Defeat a '
                'Astronaut in New Orleans',
 'Length': '89',
 'Title': 'DARES PLUTO',
 '_id': 208.0}
{'Description': 'A Amazing Display of a Robot And a Astronaut who must Fight a '
                'Womanizer in Berlin',
 'Length': '86',
 'Title': 'YENTL IDAHO',
 '_id': 995.0}
{'Description': 'A Intrepid Story of a Madman And a Secret Agent who must '
                'Outrace a Astronaut in An Abandoned Amusement Park',
 'Length': '85',
 'Title': 'EGYPT TENENBAUMS',
 '_id': 275.0}
{'Description': 'A Action-Packed Character Study of a Astronaut And a Explorer '
                'who must Reach a Monkey in A MySQL Convention',
 'Length': '85',
 'Title': 'VARSITY TRIP',
 '_id': 937.0}
{'Description': 'A Awe-Inspiring Tale of a Astronaut And a Database '
                'Administrator who must Chase a Secret Agent in The Gulf of '
                'Mexico',
 'Length': '84',
 'Title': 'SAVANNAH TOWN',
 '_id': 766.0}
{'Description': 'A Beautiful Tale of a Astronaut And a Mad Cow who must '
                'Challenge a Cat in A Baloon Factory',
 'Length': '83',
 'Title': 'MOON BUNCH',
 '_id': 595.0}
{'Description': 'A Boring Reflection of a Secret Agent And a Astronaut who '
                'must Face a Composer in A Manhattan Penthouse',
 'Length': '83',
 'Title': 'NONE SPIKING',
 '_id': 625.0}

In [14]:
#6.5 Number of inventories of each store
Q65=db.stores.aggregate([{"$group": {"_id":"$_id",
"Number of Inventories": {"$sum": {"$size":"$Inventory.inventoryId"}}}}])
printhead(Q65,10)

{'Number of Inventories': 2270, '_id': 1.0}
{'Number of Inventories': 2311, '_id': 2.0}

# Part B

In [1]:
from py2neo import Graph
from py2neo import Node
from py2neo import Relationship
import networkx as nx
from py2neo import Graph as PGraph
from neo4j import GraphDatabase

In [2]:
graph = Graph("http://localhost:7474/browser/", auth=("neo4j", "rootroot"))

In [5]:
graph.delete_all()

In [69]:
#Q1. Find all Producers that produced the movie When Harry Met Sally
query = """
MATCH (WHMS {title: "When Harry Met Sally"})<-[:PRODUCED]-(producers) RETURN producers.name
"""

data = graph.run(query)

for d in data:
    print(d)

<Record producers.name='Nora Ephron'>
<Record producers.name='Rob Reiner'>

In [70]:
#Q2 Find directors who have directed more than 2 movies
query = """
MATCH (director:Person)-[:DIRECTED]->(m) WITH director,
COUNT(m) AS CountMovie WHERE CountMovie>2 RETURN
DISTINCT director.name
"""

data = graph.run(query)

for d in data:
    print(d)

<Record director.name='Andy Wachowski'>
<Record director.name='Lana Wachowski'>
<Record director.name='Rob Reiner'>
<Record director.name='Ron Howard'>

In [71]:
#Q3  Find the actors with 5+ movies, and the movies in which they acted
query = """
match(actor:Person)-[:ACTED_IN]->(movie:Movie) with actor,
collect(movie.title) as movies, count(movie) as mc where mc >= 5 return
actor.name, movies
"""

data = graph.run(query)

for d in data:
    print(d,'\n')

<Record actor.name='Hugo Weaving' movies=['The Matrix', 'The Matrix Reloaded', 'The Matrix Revolutions', 'Cloud Atlas', 'V for Vendetta']>

<Record actor.name='Keanu Reeves' movies=['The Matrix', 'The Matrix Reloaded', 'The Matrix Revolutions', "The Devil's Advocate", 'The Replacements', 'Johnny Mnemonic', "Something's Gotta Give"]>

<Record actor.name='Jack Nicholson' movies=['A Few Good Men', 'As Good as It Gets', 'Hoffa', "One Flew Over the Cuckoo's Nest", "Something's Gotta Give"]>

<Record actor.name='Meg Ryan' movies=['Top Gun', "You've Got Mail", 'Sleepless in Seattle', 'Joe Versus the Volcano', 'When Harry Met Sally']>

<Record actor.name='Tom Hanks' movies=["You've Got Mail", 'Sleepless in Seattle', 'Joe Versus the Volcano', 'That Thing You Do', 'Cloud Atlas', 'The Da Vinci Code', 'The Green Mile', 'Apollo 13', 'Cast Away', "Charlie Wilson's War", 'The Polar Express', 'A League of Their Own']>

In [73]:
#Q4 Movies and actors exactly 3 "hops" away from the movie Hoffa
query = """
MATCH (Hoffa:Movie {title:"Hoffa"})-[*3]-(hollywood)
RETURN DISTINCT hollywood
"""

data = graph.run(query)

for d in data:
    print(d)

<Record hollywood=(_53:Person {born: 1963, name: 'Helen Hunt'})>
<Record hollywood=(_55:Person {born: 1940, name: 'James L. Brooks'})>
<Record hollywood=(_22:Person {born: 1968, name: 'Cuba Gooding Jr.'})>
<Record hollywood=(_54:Person {born: 1963, name: 'Greg Kinnear'})>
<Record hollywood=(_156:Person {born: 1949, name: 'Nancy Meyers'})>
<Record hollywood=(_1:Person {born: 1964, name: 'Keanu Reeves'})>
<Record hollywood=(_155:Person {born: 1946, name: 'Diane Keaton'})>
<Record hollywood=(_28:Person {born: 1961, name: 'Aaron Sorkin'})>
<Record hollywood=(_23:Person {born: 1957, name: 'Kevin Pollak'})>
<Record hollywood=(_18:Person {born: 1962, name: 'Demi Moore'})>
<Record hollywood=(_16:Person {born: 1962, name: 'Tom Cruise'})>
<Record hollywood=(_25:Person {born: 1967, name: 'James Marshall'})>
<Record hollywood=(_19:Person {born: 1958, name: 'Kevin Bacon'})>
<Record hollywood=(_20:Person {born: 1966, name: 'Kiefer Sutherland'})>
<Record hollywood=(_26:Person {born: 1948, name: 'Christopher Guest'})>
<Record hollywood=(_27:Person {born: 1947, name: 'Rob Reiner'})>
<Record hollywood=(_24:Person {born: 1943, name: 'J.T. Walsh'})>
<Record hollywood=(_21:Person {born: 1971, name: 'Noah Wyle'})>
<Record hollywood=(_153:Person {born: 1932, name: 'Milos Forman'})>
<Record hollywood=(_142:Person {born: 1944, name: 'Danny DeVito'})>
<Record hollywood=(_17:Person {born: 1937, name: 'Jack Nicholson'})>
<Record hollywood=(_143:Person {born: 1965, name: 'John C. Reilly'})>

In [74]:
#Q5 Find all actors who have also directed movies and the movies that they directed
query = """
MATCH (m:Movie)<-[:DIRECTED]-(actor_dir)-[:ACTED_IN]->(m2)
RETURN DISTINCT actor_dir.name AS Actor_Director
, m.title AS Movie_Directed
"""

data = graph.run(query)

for d in data:
    print(d)

<Record Actor_Director='Tom Hanks' Movie_Directed='That Thing You Do'>
<Record Actor_Director='Werner Herzog' Movie_Directed='RescueDawn'>
<Record Actor_Director='Clint Eastwood' Movie_Directed='Unforgiven'>
<Record Actor_Director='James Marshall' Movie_Directed='V for Vendetta'>
<Record Actor_Director='James Marshall' Movie_Directed='Ninja Assassin'>
<Record Actor_Director='Danny DeVito' Movie_Directed='Hoffa'>

### 6. Provide 5 additional queries and indicate the specific business use cases theyaddress
#### Note: Insights should not be a flavor of the previously addressed queries within Assignment 4

In [76]:
#Q6.1 .Find all the title of movies that an actor in “The Matrix” acted in. 
# For each movie title, also return the name of these co-actors
query = """
MATCH (matrix:Movie {title:"The Matrix"})<-[:ACTED_IN]-(Matrix_Actors)-
[:ACTED_IN]->(films)<-[:ACTED_IN]-(coactors)
RETURN Matrix_Actors.name, collect(films.title) as Also_Acted_In, collect( DISTINCT coactors.name) AS CoStars
"""

data = graph.run(query)

for d in data:
    print(d,'\n')

<Record Matrix_Actors.name='Laurence Fishburne' Also_Acted_In=['The Matrix Reloaded', 'The Matrix Reloaded', 'The Matrix Reloaded', 'The Matrix Revolutions', 'The Matrix Revolutions', 'The Matrix Revolutions'] CoStars=['Keanu Reeves', 'Hugo Weaving', 'Carrie-Anne Moss']>

<Record Matrix_Actors.name='Hugo Weaving' Also_Acted_In=['Cloud Atlas', 'Cloud Atlas', 'Cloud Atlas', 'V for Vendetta', 'V for Vendetta', 'V for Vendetta', 'V for Vendetta', 'The Matrix Revolutions', 'The Matrix Revolutions', 'The Matrix Revolutions', 'The Matrix Reloaded', 'The Matrix Reloaded', 'The Matrix Reloaded'] CoStars=['Tom Hanks', 'Jim Broadbent', 'Halle Berry', 'Natalie Portman', 'Stephen Rea', 'John Hurt', 'Ben Miles', 'Keanu Reeves', 'Carrie-Anne Moss', 'Laurence Fishburne']>

<Record Matrix_Actors.name='Carrie-Anne Moss' Also_Acted_In=['The Matrix Revolutions', 'The Matrix Revolutions', 'The Matrix Revolutions', 'The Matrix Reloaded', 'The Matrix Reloaded', 'The Matrix Reloaded'] CoStars=['Keanu Reeves', 'Hugo Weaving', 'Laurence Fishburne']>

<Record Matrix_Actors.name='Keanu Reeves' Also_Acted_In=['The Matrix Revolutions', 'The Matrix Revolutions', 'The Matrix Revolutions', 'The Matrix Reloaded', 'The Matrix Reloaded', 'The Matrix Reloaded', "Something's Gotta Give", "Something's Gotta Give", "The Devil's Advocate", "The Devil's Advocate", 'The Replacements', 'The Replacements', 'The Replacements', 'Johnny Mnemonic', 'Johnny Mnemonic', 'Johnny Mnemonic'] CoStars=['Hugo Weaving', 'Carrie-Anne Moss', 'Laurence Fishburne', 'Jack Nicholson', 'Diane Keaton', 'Charlize Theron', 'Al Pacino', 'Gene Hackman', 'Orlando Jones', 'Brooke Langton', 'Dina Meyer', 'Ice-T', 'Takeshi Kitano']>

In [77]:
#Q6.2 Find the actors acted more than one role in a movie. Return all the role names and the movie titles
query = """
MATCH (actor:Person)-[act:ACTED_IN]-(film:Movie)
WITH actor, act.roles as roles, film
WHERE size(roles) > 1
RETURN actor.name, roles, film.title
"""

data = graph.run(query)

for d in data:
    print(d,'\n')

<Record actor.name='Meg Ryan' roles=['DeDe', 'Angelica Graynamore', 'Patricia Graynamore'] film.title='Joe Versus the Volcano'>

<Record actor.name='Hugo Weaving' roles=['Bill Smoke', 'Haskell Moore', 'Tadeusz Kesselring', 'Nurse Noakes', 'Boardman Mephi', 'Old Georgie'] film.title='Cloud Atlas'>

<Record actor.name='Tom Hanks' roles=['Zachry', 'Dr. Henry Goose', 'Isaac Sachs', 'Dermot Hoggins'] film.title='Cloud Atlas'>

<Record actor.name='Jim Broadbent' roles=['Vyvyan Ayrs', 'Captain Molyneux', 'Timothy Cavendish'] film.title='Cloud Atlas'>

<Record actor.name='Halle Berry' roles=['Luisa Rey', 'Jocasta Ayrs', 'Ovid', 'Meronym'] film.title='Cloud Atlas'>

<Record actor.name='Tom Hanks' roles=['Hero Boy', 'Father', 'Conductor', 'Hobo', 'Scrooge', 'Santa Claus'] film.title='The Polar Express'>

In [20]:
#Q6.3 Find all the movies Jack Nicholson played in the 90s

query = """
MATCH(JN:Person {name:"Jack Nicholson"})-[:ACTED_IN]->(JNMovies)
WHERE JNMovies.released >= 1990 AND JNMovies.released < 2000
Return JNMovies
"""

data = graph.run(query)

for d in data:
    print(d,'\n')

<Record JNMovies=(_141:Movie {released: 1992, tagline: "He didn't want law. He wanted justice.", title: 'Hoffa'})>

<Record JNMovies=(_52:Movie {released: 1997, tagline: 'A comedy from the heart that goes for the throat.', title: 'As Good as It Gets'})>

<Record JNMovies=(_15:Movie {released: 1992, tagline: "In the heart of the nation's capital, in a courthouse of the U.S. government, one man will stop at nothing to keep his honor, and one will stop at nothing to find the truth.", title: 'A Few Good Men'})>

<Record JNMovies=(_223:Movie {released: 1997, tagline: 'A comedy from the heart that goes for the throat.', title: 'As Good as It Gets'})>

<Record JNMovies=(_312:Movie {released: 1992, tagline: "He didn't want law. He wanted justice.", title: 'Hoffa'})>

<Record JNMovies=(_186:Movie {released: 1992, tagline: "In the heart of the nation's capital, in a courthouse of the U.S. government, one man will stop at nothing to keep his honor, and one will stop at nothing to find the truth.", title: 'A Few Good Men'})>

In [88]:
#Q6.4 List Top 5 Tom Hank's costars ordered by number of movies they worked togather 

query = """
MATCH(TH:Person {name:"Tom Hanks"})-[:ACTED_IN]->(THMovies)<-[:ACTED_IN]-(THCoStars)
With THCoStars, COUNT(THMovies) AS Num_Movies_Worked_Togather
Return THCoStars.name, Num_Movies_Worked_Togather
ORDER BY Num_Movies_Worked_Togather DESC Limit 5
"""

data = graph.run(query)

for d in data:
    print(d,'\n')

<Record THCoStars.name='Meg Ryan' Num_Movies_Worked_Togather=3>

<Record THCoStars.name='Bill Paxton' Num_Movies_Worked_Togather=2>

<Record THCoStars.name="Rosie O'Donnell" Num_Movies_Worked_Togather=2>

<Record THCoStars.name='Gary Sinise' Num_Movies_Worked_Togather=2>

<Record THCoStars.name='Madonna' Num_Movies_Worked_Togather=1>

In [89]:
#Q6.5 List Top 5 directors who directed most movies in the database
query = """
MATCH(directors:Person)-[:DIRECTED]->(films)
With directors, COUNT(DISTINCT films) AS Number_of_Movies_Directed
Return directors.name, Number_of_Movies_Directed
ORDER BY Number_of_Movies_Directed DESC Limit 5
"""

data = graph.run(query)

for d in data:
    print(d,'\n')

<Record directors.name='Lana Wachowski' Number_of_Movies_Directed=5>

<Record directors.name='Andy Wachowski' Number_of_Movies_Directed=5>

<Record directors.name='Rob Reiner' Number_of_Movies_Directed=3>

<Record directors.name='Ron Howard' Number_of_Movies_Directed=3>

<Record directors.name='Nora Ephron' Number_of_Movies_Directed=2>