### This is a python function code for Cluster-Wise Regression and Prediction
### Author: Duo Zhou
#### Reference: https://arxiv.org/pdf/1607.01417.pdf

GermanCredit dataset were used to test this function

In [436]:
import pandas as pd  
import numpy as np  
import statsmodels.formula.api as smf
import statsmodels.api as sm
import random
import scipy.stats
import warnings
import math
warnings.filterwarnings('ignore')

In [134]:
GC=pd.read_csv('GermanCredit.csv')
GC=GC.iloc[:,1:]
GC=GC.iloc[:,[1,0,2,3,4,5,6]]
GC.head()

,Amount,Duration,InstallmentRatePercentage,ResidenceDuration,Age,NumberExistingCredits,NumberPeopleMaintenance
0,1169,6,4,4,67,2,1
1,5951,48,2,2,22,1,1
2,2096,12,2,3,49,1,2
3,7882,42,2,4,45,1,2
4,4870,24,3,4,53,2,2

In [441]:
GC.drop([0,3,2]).head()

,Amount,Duration,InstallmentRatePercentage,ResidenceDuration,Age,NumberExistingCredits,NumberPeopleMaintenance
1,5951,48,2,2,22,1,1
4,4870,24,3,4,53,2,2
5,9055,36,2,4,35,1,2
6,2835,24,3,4,53,1,1
7,6948,36,2,2,35,1,1

In [465]:
nr=GC.shape[0]
train_ind = random.sample(range(nr),k=math.floor(0.7*nr))
train=GC.iloc[train_ind,:].reset_index()
test= GC.drop(train_ind).reset_index()
train=train.drop('index',axis=1)
test=test.drop('index',axis=1)

In [466]:
train.head()

,Amount,Duration,InstallmentRatePercentage,ResidenceDuration,Age,NumberExistingCredits,NumberPeopleMaintenance
0,8072,30,2,3,25,3,1
1,8358,48,1,1,30,2,1
2,1048,10,4,4,23,1,1
3,1386,12,2,2,26,1,1
4,14782,60,3,4,60,2,1

In [467]:
test.head()

,Amount,Duration,InstallmentRatePercentage,ResidenceDuration,Age,NumberExistingCredits,NumberPeopleMaintenance
0,1169,6,4,4,67,2,1
1,2096,12,2,3,49,1,2
2,7882,42,2,4,45,1,2
3,5234,30,4,2,28,2,1
4,1295,12,3,1,25,1,1

In [468]:
print(train.shape)
print(test.shape)

(700, 7)
(300, 7)

In [477]:
def clustreg(dat,clust,tries,sed,niter):
# make sure response variable is the first column of dat 
    random.seed(sed)
    dat=pd.DataFrame(dat)
    rsq=[None] * niter
    res=[]
    rsq_best=0
    nrows=dat.shape[0]
    formula = dat.columns[0] +'~'+'+'.join(dat.columns[1:]) 
    for l in range(tries):
        c = np.array(random.choices(range(clust),k=nrows))
        yhat = [None]*nrows
        for i in range(niter):
            pred=np.zeros([nrows,clust])
            resid=pd.DataFrame(0, index=np.arange(nrows), columns=np.arange(clust))
            for j in range(clust):
                model1 = smf.glm(formula = formula, data=dat.iloc[c==j,:], family=sm.families.Gaussian())
                result1 = model1.fit()
                pred[:,j]=result1.predict(dat.iloc[:,1:])
                resid.iloc[:,j] =(pred[:,j]-dat.iloc[:,0])**2
            c=np.array(resid.apply(np.argmin, axis=1))
            for m in range(nrows):
                yhat[m]=pred[m,c[m]]
            rsq[i]= (scipy.stats.pearsonr(yhat,dat.iloc[:,0])[0])**2
        if rsq[niter-1] > rsq_best:
            rsq_best=rsq[niter-1]
            l_best=l
            c_best=c
            yhat_best=yhat
    return  {'Formula':formula,'Best R^2':rsq_best,'Number of Clusters':clust,'Best Clustering':c_best}

In [478]:
resl = clustreg(dat=train,clust=3,tries=2,sed=1254,niter=10)
resl

{'Formula': 'Amount~Duration+InstallmentRatePercentage+ResidenceDuration+Age+NumberExistingCredits+NumberPeopleMaintenance',
 'Best R^2': 0.8858476985073005,
 'Number of Clusters': 3,
 'Best Clustering': array([0, 1, 2, 2, 1, 2, 0, 2, 1, 2, 2, 2, 0, 0, 2, 2, 0, 0, 2, 1, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 0, 0, 1, 2, 0, 2,
        2, 2, 0, 0, 2, 2, 2, 0, 1, 2, 2, 2, 1, 0, 2, 2, 0, 2, 2, 0, 2, 2,
        0, 1, 2, 2, 2, 2, 0, 1, 2, 2, 0, 1, 0, 2, 0, 2, 2, 2, 2, 0, 2, 2,
        2, 0, 1, 2, 2, 0, 0, 2, 2, 1, 2, 2, 2, 0, 1, 1, 2, 2, 2, 0, 0, 2,
        2, 0, 2, 2, 1, 0, 2, 0, 2, 2, 2, 2, 2, 1, 0, 2, 2, 2, 2, 0, 2, 2,
        2, 2, 0, 2, 2, 2, 0, 2, 0, 2, 2, 0, 2, 0, 2, 0, 2, 2, 0, 2, 2, 1,
        2, 2, 2, 1, 2, 0, 2, 2, 1, 0, 2, 0, 2, 0, 2, 1, 2, 0, 2, 0, 1, 2,
        2, 0, 2, 2, 2, 2, 0, 2, 1, 0, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2, 1,
        2, 2, 0, 2, 0, 1, 0, 2, 2, 2, 2, 2, 2, 2, 0, 2, 2, 1, 2, 0, 2, 0,
        0, 2, 0, 2, 0, 2, 2, 1, 2, 2, 2, 0, 2, 2, 2, 0, 2, 2, 2, 2, 2, 2,
        2, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 0, 2, 1, 2, 2, 2, 2, 0, 1,
        2, 2, 1, 1, 2, 0, 2, 1, 0, 1, 0, 2, 2, 0, 0, 2, 2, 2, 1, 1, 1, 2,
        0, 2, 2, 0, 2, 2, 2, 2, 2, 0, 2, 2, 2, 2, 0, 2, 2, 2, 1, 2, 0, 1,
        0, 1, 2, 0, 0, 2, 2, 2, 2, 1, 2, 0, 2, 0, 0, 2, 2, 1, 2, 2, 2, 1,
        2, 2, 2, 0, 1, 2, 2, 2, 1, 2, 0, 1, 1, 0, 2, 0, 2, 2, 0, 2, 2, 1,
        2, 2, 1, 2, 0, 2, 2, 2, 2, 2, 2, 2, 0, 2, 0, 2, 2, 2, 2, 1, 0, 1,
        2, 2, 2, 2, 2, 2, 0, 2, 2, 2, 2, 2, 2, 2, 0, 2, 2, 0, 0, 0, 2, 1,
        1, 0, 2, 0, 2, 2, 2, 2, 2, 2, 1, 0, 0, 2, 1, 0, 2, 1, 2, 0, 2, 2,
        1, 1, 2, 2, 0, 0, 1, 1, 0, 0, 2, 2, 1, 2, 1, 2, 1, 2, 0, 2, 0, 0,
        0, 2, 2, 2, 1, 1, 2, 2, 0, 1, 1, 0, 2, 0, 1, 1, 0, 2, 0, 2, 2, 2,
        2, 1, 2, 2, 2, 1, 1, 0, 0, 0, 2, 1, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2,
        0, 2, 0, 1, 2, 2, 1, 2, 2, 2, 0, 2, 2, 2, 1, 1, 2, 0, 2, 1, 2, 2,
        1, 0, 2, 2, 2, 1, 2, 0, 0, 2, 2, 2, 1, 2, 1, 1, 1, 2, 2, 0, 2, 1,
        2, 2, 2, 1, 2, 0, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2,
        2, 0, 0, 2, 0, 0, 1, 2, 2, 2, 2, 1, 1, 2, 2, 0, 2, 2, 0, 1, 2, 0,
        2, 2, 2, 2, 2, 2, 1, 2, 2, 1, 1, 1, 0, 0, 2, 2, 1, 0, 2, 1, 2, 2,
        0, 1, 1, 0, 1, 2, 0, 2, 1, 2, 2, 0, 0, 2, 2, 2, 1, 2, 2, 2, 0, 0,
        1, 1, 0, 1, 2, 2, 1, 2, 2, 1, 2, 1, 0, 2, 0, 2, 2, 2, 2, 1, 1, 2,
        2, 0, 2, 2, 2, 2, 2, 2, 2, 0, 2, 2, 2, 2, 2, 0, 0, 2, 2, 2, 2, 2,
        1, 2, 2, 2, 2, 1, 2, 2, 0, 1, 2, 0, 2, 1, 0, 0, 2, 2, 1, 2, 0, 2,
        2, 2, 1, 2, 1, 2, 2, 2, 2, 2, 0, 1, 2, 1, 0, 0, 0, 2], dtype=int64)}

In [479]:
def clustreg_predict(results,newdat,olddat):
# make sure response variable is the first column of newdat and olddat 
    nrows=newdat.shape[0]
    nclust=results['Number of Clusters']
    yhat=[None]*nrows
    c=results['Best Clustering']
    formula = olddat.columns[0] +'~'+'+'.join(olddat.columns[1:]) 
    pred=np.zeros([nrows,nclust])  
    resid=pd.DataFrame(0, index=np.arange(nrows), columns=np.arange(nclust))
    for j in range(nclust):
        model1 = smf.glm(formula = formula, data=olddat.iloc[c==j,:], family=sm.families.Gaussian())
        result1 = model1.fit()
        pred[:,j]=result1.predict(newdat.iloc[:,1:])        
        resid.iloc[:,j] =(pred[:,j]-newdat.iloc[:,0])**2
    c=np.array(resid.apply(np.argmin, axis=1))
    for m in range(nrows):
        yhat[m]=pred[m,c[m]]
    rsq = (scipy.stats.pearsonr(yhat,newdat.iloc[:,0])[0])**2 
    
    return {'Formula':formula,'Best R^2':rsq,'yhat':yhat,'Best Clustering':c}

In [480]:
pred = clustreg_predict(results=resl,newdat=test, olddat=train)
pred

{'Formula': 'Amount~Duration+InstallmentRatePercentage+ResidenceDuration+Age+NumberExistingCredits+NumberPeopleMaintenance',
 'Best R^2': 0.8716012406948798,
 'yhat': [461.76473202527404,
  1781.846863183681,
  10463.467835253894,
  2733.9725594391984,
  1249.7156434067463,
  2164.2326784420657,
  1959.170144857934,
  984.2752600891122,
  1476.1790316345332,
  3118.611325568054,
  2830.0172037101765,
  1189.4294630792065,
  5532.327180022587,
  595.0934976376996,
  2526.0109495834204,
  1247.770111166414,
  10342.67695238185,
  1822.1957058694734,
  1965.0067415789306,
  5857.9896695829475,
  4246.106625669784,
  1394.9094076289612,
  1728.604585273566,
  12858.574745729278,
  540.9789748414003,
  3124.9722583632415,
  1228.770510673845,
  3671.8617465808957,
  3374.9611596874984,
  1964.0531975476165,
  1092.7366959103167,
  845.9358460193021,
  13369.470799302226,
  1447.7962310707699,
  716.4448808714178,
  6960.615068089154,
  7869.794593030587,
  2306.7630775381062,
  1860.8135019960846,
  6287.494373940126,
  9036.681522031684,
  1230.2603210034233,
  1748.2718006498676,
  2145.730900070057,
  844.8466878164845,
  817.706406445632,
  9351.763062314183,
  1025.6680163014105,
  1517.0500285199316,
  705.1100778833552,
  1260.2492940903467,
  6128.936113371088,
  1122.8317640457626,
  1132.0841457650338,
  828.8836057831172,
  3213.362369440593,
  2325.660289800313,
  1510.676852633616,
  870.7317710391133,
  1275.477791413185,
  5288.734986314498,
  3326.282268618381,
  3963.6988131611497,
  2835.853800431174,
  1041.2322742240688,
  1230.2603210034233,
  1409.8391302954385,
  2055.8586131198963,
  1825.3453851409997,
  1965.0067415789306,
  5009.427902679905,
  946.7993335798694,
  1154.4153833410624,
  1704.1177232205334,
  1428.5152898733745,
  1975.2303968851013,
  4478.288671111986,
  2820.685076155263,
  2473.0835410808013,
  2020.473632517253,
  1109.9009259787222,
  9284.935035425884,
  4480.59960362898,
  2312.3255189359274,
  4440.727261378486,
  626.7180075875249,
  6269.018281093278,
  1472.9841076866946,
  3142.482048526232,
  4595.23178051126,
  1130.3097924133597,
  1530.79688330291,
  2729.251672240472,
  1762.17950149379,
  876.3971888714516,
  1849.3114874427483,
  1395.2668605817976,
  3484.8663470827723,
  2485.252728627304,
  9954.71560924334,
  480.04572447389364,
  1840.6058480636416,
  1227.6164965791286,
  3598.983021570444,
  1196.1536996479454,
  1274.5500126042605,
  2274.0494093854627,
  3242.571118267968,
  1124.4731956923627,
  8277.793340618553,
  1017.8858873400811,
  1953.333548136937,
  896.3890904400946,
  2971.3199034517274,
  2621.8656163606474,
  2737.033801201801,
  2544.377113783926,
  1922.2881685440618,
  2768.9979462058973,
  1204.4170028753633,
  3843.354237974869,
  5103.713013437628,
  1274.5500126042605,
  1720.68878919063,
  8980.526116377248,
  4133.325569176321,
  4645.964047754071,
  397.0623528793458,
  3782.5543727812974,
  6122.181913305993,
  343.2976052247818,
  2755.0395854693006,
  6544.794475308079,
  2273.9272374891,
  7398.382725793075,
  2175.4098777795507,
  1491.5572908301128,
  4074.9979953144557,
  8634.261635354584,
  10085.574046159682,
  2043.005016521599,
  1116.1544875657141,
  1888.6349901014623,
  567.3303724737161,
  8814.32188501038,
  3261.0046263257555,
  2243.1844974160476,
  871.227765143622,
  1998.5767837690894,
  2176.8594159153745,
  1872.5193331750636,
  2114.726105537992,
  5492.10597454954,
  2318.512696095165,
  1256.0469631737888,
  2234.6372393706897,
  904.3018132292714,
  1110.3178908447176,
  1254.41269736935,
  810.765793573959,
  2454.924395823208,
  2463.35587987914,
  1109.5434730258858,
  15388.603158491002,
  7214.328450544866,
  2611.3101792213297,
  2816.3984780278506,
  2032.146825959247,
  6020.692836385968,
  2223.2331809082157,
  2062.4751587633427,
  2766.7127789112947,
  2468.543121505535,
  1971.3393324044366,
  3250.8492413338063,
  2127.992027285279,
  1574.4392073028212,
  2034.0923581995794,
  2014.528316279002,
  1237.7179100860008,
  3054.3886951691784,
  2074.5365117788806,
  12733.103064229534,
  3186.156921747711,
  3460.1070283353147,
  800.1966162826409,
  2059.3246543736295,
  2627.3675637410183,
  3899.7746729445057,
  2883.5385624081673,
  1400.6074631982858,
  1656.5317946789946,
  1642.2776563958944,
  2458.815460303873,
  4838.648665823165,
  1572.5575045190649,
  3587.309828128451,
  1906.144780264453,
  2442.5924322827686,
  1336.8070442948945,
  6853.517527261129,
  2611.0262244033884,
  5171.173653677363,
  2548.403792436093,
  13363.968851921856,
  1810.7198514112354,
  2984.077671950219,
  1966.9522738192634,
  1154.648167506365,
  894.5741520276097,
  4657.093062585171,
  1495.9849344760974,
  319.95121834079396,
  1039.8879945734934,
  8164.0496497057065,
  2595.745921298671,
  6241.751332021748,
  2150.752493911412,
  3072.0448498606224,
  2989.9546918717906,
  434.6244506544215,
  2883.5385624081673,
  1785.5951021542887,
  4182.915302874069,
  1226.3692565227586,
  2705.4092912519754,
  3440.6517059319913,
  3754.7830163679737,
  1893.6159988820064,
  2058.170640278913,
  3470.9344768920673,
  2244.713064790385,
  850.7804545312813,
  5939.807022568197,
  1390.383807892115,
  2241.9825632839475,
  5749.272853394441,
  2055.1890239065224,
  2163.875225489229,
  736.3961973792498,
  1559.1009443276942,
  1435.627043524267,
  688.3252902468607,
  1913.3903300604627,
  4404.086719597271,
  1441.4636402452645,
  2017.21710329277,
  854.6715190119455,
  1469.1970857144256,
  1923.4428064779745,
  2627.866425353006,
  1368.4463740831402,
  9156.651607271899,
  4441.756650211054,
  2604.1985221850205,
  2647.294559069269,
  2008.8004390752594,
  1887.0974093294221,
  1102.5763469441986,
  3832.140903867011,
  992.0831542728315,
  7469.9515224648585,
  10643.687232011001,
  847.8813782596344,
  12869.48532672926,
  4703.73521947267,
  8580.115307614804,
  2979.7200911816503,
  1381.5186446735333,
  1633.8609921783839,
  8970.823007218407,
  1257.9937664725844,
  1923.6545704274436,
  1810.5338526841574,
  4703.73521947267,
  3452.3248993739853,
  3008.6289244408713,
  1010.1037583787518,
  13095.339608134947,
  1108.7377588810461,
  1947.0009573114316,
  1162.5836574577872,
  1166.150182059701,
  2757.8149404276946,
  1591.6760619600263,
  6385.612248377824,
  1893.6250800269863,
  2339.88778551643,
  894.5741520276097,
  3199.728823919847,
  2462.22535051845,
  9511.925382512043,
  5384.553348303856,
  2520.174352862423,
  2368.8249831440785,
  1096.9167355525774,
  8234.549985736496,
  1360.1682510173025,
  4081.5743155755035,
  2534.3870287401205],
 'Best Clustering': array([2, 2, 0, 2, 2, 2, 2, 2, 2, 1, 2, 0, 2, 2, 2, 2, 0, 0, 2, 1, 1, 2,
        0, 0, 2, 2, 0, 2, 2, 2, 2, 2, 1, 2, 2, 1, 0, 2, 2, 0, 1, 2, 2, 2,
        2, 2, 1, 2, 2, 0, 2, 1, 0, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 2, 2,
        2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 2, 2, 2, 1, 2, 2, 0, 2, 1, 2,
        2, 1, 2, 0, 2, 2, 2, 2, 2, 0, 2, 1, 0, 2, 0, 2, 2, 2, 2, 2, 2, 1,
        2, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 0, 1, 0, 2, 2,
        1, 1, 1, 2, 2, 2, 0, 1, 2, 2, 2, 0, 0, 0, 2, 2, 2, 2, 2, 2, 0, 2,
        0, 2, 2, 2, 2, 0, 2, 2, 2, 0, 1, 2, 2, 2, 1, 2, 2, 2, 2, 2, 2, 1,
        0, 2, 0, 2, 0, 0, 0, 1, 2, 2, 0, 1, 2, 2, 2, 0, 2, 2, 1, 2, 2, 2,
        0, 2, 1, 2, 1, 2, 1, 2, 0, 2, 2, 2, 2, 2, 2, 0, 1, 2, 1, 2, 2, 2,
        2, 2, 1, 0, 2, 2, 2, 1, 2, 0, 0, 2, 2, 1, 2, 2, 1, 2, 2, 2, 2, 2,
        2, 2, 0, 2, 2, 2, 2, 2, 2, 2, 1, 1, 1, 0, 2, 2, 2, 1, 2, 1, 0, 2,
        0, 0, 1, 2, 0, 2, 1, 2, 2, 2, 0, 2, 1, 2, 1, 2, 2, 2, 2, 2, 0, 0,
        0, 2, 2, 2, 2, 1, 2, 2, 2, 2, 1, 2, 1, 2], dtype=int64)}

In [482]:
resl1 = clustreg(dat=train,clust=1,tries=1,sed=1254,niter=1)
resl2 = clustreg(dat=train,clust=2,tries=2,sed=1254,niter=10)
resl3 = clustreg(dat=train,clust=3,tries=2,sed=1254,niter=10)
pred1 = clustreg_predict(results=resl1,newdat=test, olddat=train)
pred2 = clustreg_predict(results=resl2,newdat=test, olddat=train)
pred3 = clustreg_predict(results=resl3,newdat=test, olddat=train)

rsq_b_train1=resl1['Best R^2']
rsq_b_train2=resl2['Best R^2']
rsq_b_train3=resl3['Best R^2']
rsq_b_test1=pred1['Best R^2']
rsq_b_test2=pred2['Best R^2']
rsq_b_test3=pred3['Best R^2']

table=pd.DataFrame(index=['Model 1', 'Model 2','Model 3'], columns=['R^2 Train', 'R^2 Test'])

table.iloc[0,0]=rsq_b_train1
table.iloc[0,1]=rsq_b_test1
table.iloc[1,0]=rsq_b_train2
table.iloc[1,1]=rsq_b_test2
table.iloc[2,0]=rsq_b_train3
table.iloc[2,1]=rsq_b_test3

table

        R^2 Train  R^2 Test
Model 1  0.477095  0.548354
Model 2  0.805673  0.813802
Model 3  0.885848  0.871601