# Assignment 3 - Pandas DataFrame
## Student : Duo Zhou
## Part 1 (75 Points evenly distributed to first three questions)

The following code loads the olympics dataset (olympics.csv), which was derived from the Wikipedia entry on [All Time Olympic Games Medals](https://en.wikipedia.org/wiki/All-time_Olympic_Games_medal_table), and does some basic data cleaning. 

The columns are organized as # of Summer games, Summer medals, # of Winter games, Winter medals, total # number of games, total # of medals. Use this dataset to answer the questions below.

In [15]:
import pandas as pd

df = pd.read_csv('olympics.csv', index_col=0, skiprows=1)

for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold'+col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver'+col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze'+col[4:]}, inplace=True)
    if col[:1]=='â„–':
        df.rename(columns={col:'#'+col[1:]}, inplace=True)

names_ids = df.index.str.split('\s\(') # split the index by '('

df.index = names_ids.str[0] # the [0] element is the country name (new index) 
df['ID'] = names_ids.str[1].str[:3] # the [1] element is the abbreviation or ID (take first 3 characters from that)

#df = df.drop('Totals')

df.head()

,# Summer,Gold,Silver,Bronze,Total,# Winter,Gold.1,Silver.1,Bronze.1,Total.1,# Games,Gold.2,Silver.2,Bronze.2,Combined total,ID
Afghanistan,13,0,0,2,2,0,0,0,0,0,13,0,0,2,2,AFG
Algeria,12,5,2,8,15,3,0,0,0,0,15,5,2,8,15,ALG
Argentina,23,18,24,28,70,18,0,0,0,0,41,18,24,28,70,ARG
Armenia,5,1,2,9,12,6,0,0,0,0,11,1,2,9,12,ARM
Australasia,2,3,4,5,12,0,0,0,0,0,2,3,4,5,12,ANZ

### Question 1 

What is the first country in df?

*This function should return a Series.*

In [17]:
# You should write your whole answer within the function provided. 
def answer_zero(data):
    # This function should return the row for the first country, which is a Series object.
    return print(pd.Series(data.iloc[0, :]), '\n',type(pd.Series(data.loc['Afghanistan', :])))

# You can examine what your function returns by calling it in the cell. 
answer_zero(df)

# Summer           13
Gold                0
Silver              0
Bronze              2
Total               2
# Winter            0
Gold.1              0
Silver.1            0
Bronze.1            0
Total.1             0
# Games            13
Gold.2              0
Silver.2            0
Bronze.2            2
Combined total      2
ID                AFG
Name: Afghanistan, dtype: object
 <class 'pandas.core.series.Series'>

### Question 2
In summer games, which nation has won the most gold medals?


*This function should return a single string value.*

In [76]:
def answer_one(data,column):
    
    return [i for i in data.index if data.loc[i,column]==max(df.loc[:,column])]

answer_one(df,"Gold")

['United States']

### Question 3
Which nation had the biggest difference on gold medal counts? (between their summer and winter) 

*This function should return a single string value.*

In [81]:
def answer_two(data):
    diff = abs(data.loc[:,'Gold']-data.loc[:,'Gold.1'])
    return [i for i in data.index if diff[i] == max(diff)]

answer_two(df)

['United States']

# PART 2
## Question 4 (25 Points for first two questions + 25 Points Bonus for last two questions)

We will look at the publicly available airline data in this question similar to flights.csv that we covered in class practices. However, in this assignment, you are given 6 months of seperate data along with lookup tables for carriers and airports. Please apply data exploration and pre-procesing techniques and provide your answers for the following questions.



Questions: 

    1. What carrier has flown the 1st most number of flights? How many?  
    2. Which airport has the 3rd most delays? 
    3. What is the most popular day of the week to travel?
    4. What is the 1st and 5th most flown route? 

Hints:

1- pd.concat(list)
list=[A,B,C...] e.g. A= pd.read_csv("1.csv",encoding='utf-8')

2-please leverage from pandas dataframe features including 
groupby(...).size()...
groupby(...).sum().sort_values(....)

3- Dont forget to consider cancelled flights

4- Try to create a new column for "route"

Dataset Details: 
Dataset name: On-Time Performance,
Lookup Table: Carrier Lookup,
Lookup Table: Airport Lookup

In [22]:
import pandas as pd
A= pd.read_csv("1.csv",encoding='utf-8')
B= pd.read_csv("2.csv",encoding='utf-8')
C= pd.read_csv("3.csv",encoding='utf-8')
D= pd.read_csv("4.csv",encoding='utf-8')
E= pd.read_csv("5.csv",encoding='utf-8')
F= pd.read_csv("6.csv",encoding='utf-8')

list=[A,B,C,D,E,F]
df=pd.concat(list)

In [19]:
df.columns

Index(['FL_DATE', 'UNIQUE_CARRIER', 'AIRLINE_ID', 'CARRIER', 'TAIL_NUM',
       'FL_NUM', 'ORIGIN_AIRPORT_ID', 'ORIGIN_AIRPORT_SEQ_ID',
       'ORIGIN_CITY_MARKET_ID', 'ORIGIN', 'ORIGIN_CITY_NAME',
       'ORIGIN_STATE_ABR', 'ORIGIN_STATE_FIPS', 'ORIGIN_STATE_NM',
       'ORIGIN_WAC', 'DEST_AIRPORT_ID', 'DEST_AIRPORT_SEQ_ID',
       'DEST_CITY_MARKET_ID', 'DEST', 'DEST_CITY_NAME', 'DEST_STATE_ABR',
       'DEST_STATE_FIPS', 'DEST_STATE_NM', 'DEST_WAC', 'CRS_DEP_TIME',
       'DEP_TIME', 'DEP_DELAY', 'DEP_DELAY_NEW', 'DEP_DEL15',
       'DEP_DELAY_GROUP', 'DEP_TIME_BLK', 'TAXI_OUT', 'WHEELS_OFF',
       'WHEELS_ON', 'TAXI_IN', 'CRS_ARR_TIME', 'ARR_TIME', 'ARR_DELAY',
       'ARR_DELAY_NEW', 'ARR_DEL15', 'ARR_DELAY_GROUP', 'ARR_TIME_BLK',
       'CANCELLED', 'DIVERTED', 'CRS_ELAPSED_TIME', 'ACTUAL_ELAPSED_TIME',
       'AIR_TIME', 'FLIGHTS', 'DISTANCE', 'DISTANCE_GROUP', 'Unnamed: 50'],
      dtype='object')

In [73]:
#1. What carrier has flown the 1st most number of flights? How many?  
# filter the cancelled flights by setting CANCELLED = 0
df1 = df.loc[(df.CANCELLED==0),['UNIQUE_CARRIER','FL_NUM']]

num_Fl=df1.FL_NUM.groupby(df1['UNIQUE_CARRIER']).count().sort_values(ascending = False)

print(num_Fl.index[0],'has flown the most numer of flght')

num_Fl

WN has flown the most numer of flght

UNIQUE_CARRIER
WN    568904
DL    377686
EV    323664
OO    294873
AA    261647
UA    237869
US    202758
MQ    189375
B6    118709
AS     76299
FL     48403
F9     37615
HA     35980
VX     28294
Name: FL_NUM, dtype: int64

In [21]:
# 2. Which airport has the 3rd most delays? 

# filter the no delay and early flight by setting DEP_DELAY>0 and ARR_DELAY>0
df2 = df.loc[(df.DEP_DELAY>0) & (df.ARR_DELAY >0),['ORIGIN','DEP_DELAY','DEST','ARR_DELAY']]
# Total Deplays is the sum of dept delays and arr delays
Num_Del=df2.DEP_DELAY.groupby(df2['ORIGIN']).count()+\
                    df2.ARR_DELAY.groupby(df2['DEST']).count()

print(Num_Del.sort_values(ascending = False).index[2],'has the 3rd most delays.')

Num_Del.sort_values(ascending = False)

DFW has the 3rd most delays.

ATL    107157.0
ORD    101505.0
DFW     82519.0
DEN     82339.0
LAX     68890.0
         ...
WYS        15.0
AKN        13.0
DVL        13.0
CIU         8.0
HYA         NaN
Length: 319, dtype: float64

In [26]:
df2.DEP_DELAY.groupby(df2['ORIGIN']).count().sort_values(ascending = False)

ORIGIN
ATL    59693
ORD    56388
DFW    46680
DEN    45498
LAX    34167
       ...
MVY       10
WYS        8
CIU        5
AKN        4
DVL        3
Name: DEP_DELAY, Length: 318, dtype: int64

In [25]:
 df2.ARR_DELAY.groupby(df2['DEST']).count().sort_values(ascending = False)

DEST
ATL    47464
ORD    45117
DEN    36841
DFW    35839
LAX    34723
       ...
AKN        9
ADK        8
WYS        7
CIU        3
HYA        1
Name: ARR_DELAY, Length: 319, dtype: int64

In [33]:
#3. What is the most popular day of the week to travel?
#creating a new column week day
df['FL_DATE']=pd.to_datetime(df['FL_DATE'])
df['weekday'] =df['FL_DATE'].dt.dayofweek
# filter the cancelled flights by setting CANCELLED = 0
df3 = df.loc[(df.CANCELLED==0),['weekday','FL_NUM']]
most_p=df3.FL_NUM.groupby(df3['weekday']).count().sort_values(ascending = False)
print('Weekday',most_p.index[0],'is the most popular day of the week to travel')
most_p

Weekday 4 is the most popular day of the week to travel

weekday
4    426313
3    420180
0    419314
2    407688
6    395983
1    388533
5    344065
Name: FL_NUM, dtype: int64

In [109]:
# 4. What is the 1st and 5th most flown route?
#creating a new column route each route is 
df['route']=df['ORIGIN']+' to '+df['DEST']
# filter the cancelled flights by setting CANCELLED = 0
df4 = df.loc[(df.CANCELLED==0),['route','FL_NUM']]

p_route=df4.FL_NUM.groupby(df4['route']).count().sort_values(ascending = False)
print(p_route.index[0],'is the 1st most flown route')
print(p_route.index[4],'is the 5th most flown route')
p_route[:10]

SFO to LAX is the 1st most flown route
JFK to LAX is the 5th most flown route

route
SFO to LAX    6460
LAX to SFO    6422
LAS to LAX    5928
LAX to LAS    5792
JFK to LAX    5696
LAX to JFK    5689
HNL to OGG    4798
OGG to HNL    4793
PHX to LAX    4723
LAX to PHX    4708
Name: FL_NUM, dtype: int64